<section>
	<h2>There are {{allWarehouse.length}} Warehouses</h2>
    <br>
    <br>

    <div class="dropdown">
            <button class="dropbtn">Warehouses</button>
            <div class="dropdown-content">
                {{#each allWarehouse}}
                <a href="/warehouses/{{id}}"> {{name}}</a>
                {{/each}}
            </div>
          </div>
	{{#each allWarehouse}} 
    
		<ul>
            <li>
                <article class="card">
                    <img class="item-img" src="{{image}}"/>
			        <h2>Name: {{name}}</h2>
			        <h3>Location: {{location}}</h3>
			        <h3>Capacity: {{capacity}}</h3>
                    <br>
                    <button id ="view-warehouse"><a href="/warehouses/{{id}}">View Warehouse</a></button>
		        </article>
            </li>
        </ul>
	{{/each}}
</section>
<script src="/script.js"></script> 