<section class = "center-content">
<div>
    <article class = "card" >
        	<img class="item-img" src="{{warehouse.image}}"/>
			<h2>Name: {{warehouse.name}}</h2>
			<h3>Location: {{warehouse.location}}</h3>
			<h3>Max Pallete Capacity: <span id="max-capacity">{{warehouse.capacity}}</span></h3>
			<h3>Current Pallete Count: <span id="current-capacity">{{warehouse.Palletes.length}}</span></h3>
			<h3>Available Pallete Capacity: <span id="available-capacity"></span></h3>
            <br>
	</article>

	<div class='button-list'>
        <button class="btn btn-lg warehouse-btn"><a class="warehouses-button" href="/new-pallete/{{warehouse.id}}">Add New Pallete!</a></button>
		<button class="btn-lg warehouse-btn"><a class="warehouses-button" href="/warehouses">Go Back to Warehouses List</a></button>
	</div>
	<br>
	<br>
</div>
<h2>Current Palletes</h2>
{{#each warehouse.Palletes}} 
                <article class="card">
			        <h3>Max Capacity: {{capacity}}</h3>
                    <h3>Pallete Id: {{id}}</h3>
                    <button id ="view-pallete"><a href="/pallete/{{id}}">View Pallete</a></button>
		        </article>
          
	{{/each}}
</section>	 

<script src="/warehouse.js"></script>