<section >
	<div class = "center-content">
        <h2>There are {{allWarehouse.length}} Warehouses</h2>
        <br>
        <br>

        <div class="dropdown center-content">
            <button class="btn btn-lg warehouse-btn dropbtn">Warehouses</button>
            <div class="dropdown-content">
                {{#each allWarehouse}}
                <a href="/warehouses/{{id}}"> {{name}}</a>
                {{/each}}
            </div>
          </div>
          <br>
          <br>
    </div>
	    
        <div class = "center-content">
        {{#each allWarehouse}} 
                <article class="card">
                    <img class="item-img" src="{{image}}"/>
			        <h2>Name: {{name}}</h2>
			        <h3>Location: {{location}}</h3>
			        <h3>Capacity: {{capacity}}</h3>
                    <br>
                    <button class="btn-lg warehouse-btn" id ="view-warehouse"><a class="warehouses-button warehouse-btn" href="/warehouses/{{id}}">View Warehouse</a></button>
                    <br>
                    <br>
                    <br>
                    <br>
		        </article>
	{{/each}}
    </div>
</section>
<script src="/script.js"></script> 